@font-face {
    font-family: abnormal;
    src: url(../fontes/abnormal-bold.otf);
}
@font-face {
    font-family: horizon;
    src: url(../fontes/horizon-new.otf);
}
@font-face{
    font-family: PtSans; 
    src: url(../fontes/PTS75F.ttf);
}


/*margin_0_body*/
body{
    margin: 0px;
}

/* start_litras*/
.listra_red{
    background-color: #CB0017;
    height: 4px;   
    position: fixed;
    width: 100%;
    z-index: 2;

}

.listra_white{
    background-color: white;
    height: 7px;
    width: 100%;
    position: fixed;
    z-index: 1;

}

.listra_black{
    background-color: black;
    width: auto;
    height:4px;
   
}


/*finish_listras*/
header{
    position: fixed;
    z-index: 1000;
}

/*start_topbar*/
.topbar{
    display: flex;
    height: 55px;
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: auto;
    
    
}
.topbar ul{
    display: flex;
    list-style: none;
    column-gap: 50px;
    padding-left: 150px;
    margin: 0;
    padding-top: 19px;
    font-family: abnormal;
}
.topbar a{
    text-decoration: none;
    color: #FFFF;

}
.topbar img{
    width: 60px;
    height: 60px;
    padding-left: 17px;
    padding-top: 15px;
    transition: transform .2s;
    
 
    
}

.topbar img:h{
    transform: scaleX(1.1);
    transform: scaleY(1.1);
}
.topbar a:hover{
    color: #CB0017;
}

/*SAIR*/
.sair ul{
    display: flex;
    list-style: none;
    column-gap: 50px;
    padding-left: 150px;
    margin: 0;
    padding-top: 19px;
    font-family: abnormal;
    text-align: right;
}
.sair{
    margin-left: auto;
    margin-right: 150px;
}
/*end*/
/*start pag part 1*/

.img_1992 img{
    margin: 0;
    padding-top: 20px;
    padding-left: 300px;
    width: 1300px;
}
.img_1992 h1{
    text-align: center;
    font-family: horizon;
    color: #CB0017;
    font-size: xx-large;
    
}
.img_1992 p{
    width: 1300px;
    padding-left: 300px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
  
}
/*finish part_1*/

/*start part_2*/
.img_1993 img{
    margin: 0;
    padding-top: 20px;
    padding-left: 300px;
    width: 1300px;
}
.part_2 p{
    width: 1300px;
    padding-left: 300px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;

}
.part_2 h1{
    text-align: center;
    font-family: horizon;
    color: #CB0017;
    font-size: xx-large;
}
/*finish part_2*/

/*start part_3*/
.img_2005 img{
    margin: 0;
    padding-top: 20px;
    padding-left: 300px;
    width: 1300px;
}
.part_3 p{
    width: 1300px;
    padding-left: 300px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;

    
}
.part_3 h1{
    text-align: center;
    font-family: horizon;
    color: #CB0017;
    font-size: xx-large;
}
/*finish part_3*/

/*start loja*/
/*banner*/
.banner_1 {
   width: auto;
   height: auto;

}
.banner_1 img{
    margin: 0;
   
    width: 1300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}


/*start shop - Container*/
.container_shop{
    width: 800px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;


}

/*Box - TopBar*/
.box_topbar h1{
    font-family: PtSans;
    border-bottom: 1px solid black;
    

}    

/*Box - Shop*/
.box_shop{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 600px;

    column-gap: 10px;
}


.box_shop_2{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    column-gap: 10px;
    padding-top: 3px;
}


.box_shop img{
    width: 300px;
}

.box_shop_2 img{
    width: 300px;
}
    /*start camisa*/
    .camisas img{
        width: 300px;
        margin: 20px;
    }

    .camisa1 img{
        width: 200px;
        
    }
    .camisa2 img{
        width: 200px;
    }

        /*Footer*/
    /* Estilos básicos para o footer */
.site-footer {
    background-color: #CB0019;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.footer-links a:hover {
    text-decoration: underline;
}
.footer-content img{
    width: 50px;
}

       

















/*patrocinadores start*/
.Patrocinadores img{
    width: 115px;
    margin: auto;
    
}
.Patrocinadores ul{
    width: auto;
    height: 50px;
    display: flex;
}

.Patrocinadores ul li img{
    height: 80px;
    object-fit: contain;
    margin: 105px;
}
.Patrocinadores ul{
    list-style: none;
}


